.deepStyle {


width: 186.78px;
height: 168.2px;


background: #E01700;


border: 2.06385px solid #333333;
box-sizing: border-box;
box-shadow: 0px 2.06385px 2.06385px rgba(0, 0, 0, 0.15);
border-radius: 5.15963px;

font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 119px;
letter-spacing: 0em;
text-align: center;

}

.midStyle {


width: 183px;
height: 164px;

background: #F48100;
border: 2px solid #333333;
box-sizing: border-box;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
border-radius: 5px;

font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 119px;
letter-spacing: 0em;
text-align: center;

}

.sharpStyle {


width: 183px;
height: 164px;

background: #E7E8C3;
border: 2px solid #333333;
box-sizing: border-box;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
border-radius: 5px;

font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 119px;
letter-spacing: 0em;
text-align: center;

}

.cowbellStyle {


width: 183px;
height: 164px;

background: #C4C4C4;
border: 2px solid #333333;
box-sizing: border-box;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
border-radius: 5px;

font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 119px;
letter-spacing: 0em;
text-align: center;

}

body{
  background-color: black;
}

h1{
  color: yellow;
  font-family: sans-serif;
}


